@import url('https //fonts.googleapis.com/css family=poppins');

*{
  font-family: 'Poppins';
  font-size: small;
}

.sendMsg{
	color: aliceblue; 
	background-color: #0b6970; 
	border-color: #0b6970; 
	border-radius: 20px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-width: 1px;
	
  }
.to{
  font-size: small;
 
 
}
.an{
  font-size: large;
}

a{
 color:#0b6970;
 text-decoration: none; 
}

.sim{
  font-size: medium;
}
.btn{
  margin-top: 10px;
}
h6{
	font-weight: 600;
	font-size: 17px;
}

