@import url('https //fonts.googleapis.com/css family=poppins');






/* side bar */
*{
 font-family: 'Poppins';
  box-sizing: border-box;
 
  font-size: small;
}

.container{
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
}
.container h1{
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}
.container h1 ::after{
  content: '';
  background:#1d47bb ;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left:50% ;
  transform: translate(-50%);
}
 .row{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 30px;
}
.service{
  margin-top: 15px;
  text-align: center;
   margin-left: -20px;
  
margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  /* cursor: pointer; */
  background: transparent;
  transition:transform 0.5s, background 0.5s;
}

.service h2{
  font-weight: 600;
  margin-bottom: 8px;
  
  height: 20px;
}
.service:hover{
 
  color:#0b6970 ;
  transform: scale(1.05);
}
.service:hover svg{
  color:#0b6970;
} 



.questions{
  padding-bottom: 25px;
  color: rgb(21, 100, 105);
  text-decoration: none;
  transform: scale(1.1);
}
