@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #d2f4ec;
}

.wrapper {
    width: 420px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper header {
    color: rgba(7, 144, 235, 0.696);
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form {
    height: 167px;
    border-radius: 5px;
    display: flex;
    margin: 30px 0;
    border: 2px dashed #6990f2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form :where(i,
p) {
    color: #6990f2;
}

form i {
    font-size: 50px;
}

form p {
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

section .row {
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    font-size: 30px;
    color: #6990f2;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

section .details span {
    font-size: 14px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .progress-bar {
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #6990f2;
    border-radius: inherit;
}

.uploaded-area {
    max-height: 150px;
    overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar {
    width: 0px;
}

.uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .details .size {
    font-size: 11px;
    color: #404040;
}

.uploaded-area .bx-check {
    color: #6990f2;
    font-size: 16px;
}